@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic);
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.container:after {
    content: " ";
    display: block;
    clear: both;
}

.top-menu .logo {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
}
.top-menu .main-nav {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
}
.top-menu .contacts {
    width: 23.72881%;
    float: right;
    margin-right: 0;
}

.fp-catalog .fp-catalog-item {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%;
}
.fp-catalog .fp-catalog-item:nth-child(3) {
    width: 28.57143%;
    float: right;
    margin-right: 0;
}

.fp-news {
    width: 40.67797%;
    float: right;
    margin-right: 0;
}

.fp-sale {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
}

.header-item, .fp-plus, .input-holder {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
}
.header-item:nth-child(3), .fp-plus:nth-child(3), .input-holder:nth-child(3) {
    width: 32.20339%;
    float: right;
    margin-right: 0;
}

.lw-image {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
}

.lw-content {
    width: 49.15254%;
    float: right;
    margin-right: 0;
}

/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
    font-size: 100%;
    line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    *display: inline;
    *zoom: 1;
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
    display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
    margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    /* Set the font-size and line-height while keeping a proper vertical rhythm. */
    font-size: 2em;
    line-height: 1.5em;
    /* Set 1 unit of vertical rhythm on the top and bottom margins. */
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

h2 {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.17em;
    line-height: 1.28205em;
    margin-top: 1.28205em;
    margin-bottom: 1.28205em;
}

h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h5 {
    font-size: 0.83em;
    line-height: 1.80723em;
    margin-top: 1.80723em;
    margin-bottom: 1.80723em;
}

h6 {
    font-size: 0.67em;
    line-height: 2.23881em;
    margin-top: 2.23881em;
    margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
    margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
    margin: 1.5em 0;
}

dd {
    margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
    /* Improve image quality when scaled in IE 7. */
    -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
    *font-family: sans-serif;
    /* 4 */
    *vertical-align: middle;
    /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 2 */
    /**
     * Remove inner padding and search cancel button in Safari and Chrome on OS X.
     * Safari (but not Chrome) clips the cancel button when the search input has
     * padding (and `textfield` appearance).
     */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    margin: 0 2px;
    /* Apply borders and padding that keep the vertical rhythm. */
    border-color: #c0c0c0;
    border-top-width: 0.0625em;
    border-top-style: solid;
    padding-top: 0.4625em;
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.9125em;
    border-left-width: 0.0625em;
    border-left-style: solid;
    padding-left: 0.875em;
    border-right-width: 0.0625em;
    border-right-style: solid;
    padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/* FONT */
/* VAR */
/* SUP */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

p {
    margin: 20px 0;
}

.hor-menu {
    margin: 0;
    padding: 0;
    text-align: center;
}
.hor-menu li {
    display: inline-block;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.red-links a {
    color: #ff444a;
    text-decoration: none;
}

.t-header h1 {
    padding: 45px 0 30px;
    font-weight: 300;
    font-size: 41px;
    margin: 0;
}

.hgroup-b h1 {
    color: #ff444a;
    margin: 0;
}
.hgroup-b p {
    margin-top: 0;
}
.hgroup-b h2 {
    margin: 0;
    padding: 0px 0 20px 20px;
    line-height: 1;
    font-weight: 300;
    font-size: 1.3rem;
}

/* MAIN HEADER */
.main-header {
    padding: 10px 0;
    background: url(../img/bg-line.png) repeat white 0 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 2, 0.2);
    position: relative;
}

.header-line {
    border-top: 1px solid #2d2d2d;
    margin-top: 20px;
}

.header-item {
    text-align: center;
}

.hero-text {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: 0.03rem;
    color: #23201c;
}

.top-contacts {
    padding-top: 25px;
}
.top-contacts a {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #23201c;
    font-size: 1.3rem;
}
.top-contacts a span {
    color: #5c5449;
}
.top-contacts a:hover {
    color: #ff444a;
}
.top-contacts a.top-mail {
    color: #ff444a;
    font-size: 0.9rem;
}

/* TOP MENU */
.top-menu .contacts {
    padding-top: 10px;
    text-align: right;
}
.top-menu .contacts .top-phone a {
    color: #282828;
    font-size: 1.35rem;
    font-weight: 100;
}
.top-menu .contacts .top-phone a span {
    color: #a8a8a8;
}
.top-menu .contacts .top-mail a {
    color: #ff444a;
    font-size: 0.9rem;
}
.top-menu .contacts a {
    text-decoration: none;
}

.main-nav {
    padding-top: 30px;
}
.main-nav ul li a {
    text-decoration: none;
    color: #282828;
    font-size: 1.1rem;
}

/* MAIN MENU */
nav.main-nav {
    background-color: #282828;
    margin: 0;
    padding: 0;
}

ul.catalog-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
}
ul.catalog-nav li {
    display: table-cell;
    padding: 10px 0 8px;
    text-align: center;
    margin: 0;
    transition: all ease 0.3s;
}
ul.catalog-nav li a {
    text-decoration: none;
    width: 100%;
    font-size: 14px;
    display: inline-block;
    color: white;
}

/* MAIN */
section.main-slider {
    height: 450px;
    background: url(../img/slider2.jpg) center center no-repeat transparent;
    background-width: 100%;
    position: relative;
}

.action-content {
    position: absolute;
    bottom: 50px;
}
.action-content .t-header h1 {
    color: red;
    margin-bottom: 20px;
    padding-bottom: 0;
}

/* FP - CATALOG */
.fp-catalog {
    padding-top: 50px;
    padding-bottom: 30px;
}

.fp-catalog-item {
    text-align: center;
}
.fp-catalog-item a {
    color: #282828;
    display: block;
    text-decoration: none;
}
.fp-catalog-item a img {
    width: 100%;
}
.fp-catalog-item a span {
    display: block;
    margin: 10px 0;
    font-size: 1.1rem;
}

/* Best Chicken */
section.best-sales h1 {
    color: #282828;
}

.best-item {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%;
}
.best-item:nth-child(3) {
    width: 28.57143%;
    float: right;
    margin-right: 0;
}
.best-item:nth-child(6) {
    width: 28.57143%;
    float: right;
    margin-right: 0;
}

.best-item {
    margin-bottom: 40px;
}
.best-item img {
    width: 100%;
}
.best-item .b-title {
    text-align: center;
}
.best-item .b-title h2 {
    font-weight: 400;
    margin: 0;
    padding: 3px 0;
    line-height: 14px;
    font-size: 21px;
}

.b-links {
    text-align: center;
}
.b-links .b-more {
    display: none;
}
.b-links .b-more a {
    font-size: 0.85rem;
}
.b-links .b-price h4 {
    font-size: 1.2rem;
    color: green;
    margin: 0;
    padding: 4px 0;
}
.b-links .b-price h4 span {
    font-size: 0.9rem;
    font-weight: 400;
}

/* FP - About */
.fp-about {
    padding-bottom: 50px;
}
.fp-about .fp-about-kg {
    width: 100%;
}
.fp-about .fp-about-kg .fp-about-cont {
    width: 35%;
}

.fp-news .fp-ns-title, .fp-sale .fp-ns-title {
    text-align: center;
}
.fp-news .fp-ns-title h2, .fp-sale .fp-ns-title h2 {
    margin: 0;
    padding: 19px 0 19px 25px;
    border-bottom: 1px solid lightgray;
    font-weight: 400;
    font-size: 24px;
    color: #ff444a;
    line-height: 21px;
}
.fp-news .fp-ns-title h2 a, .fp-sale .fp-ns-title h2 a {
    color: #ff444a;
    text-decoration: none;
}

.fp-s-content article, .fp-news article {
    border-bottom: 1px solid lightgray;
}
.fp-s-content article a, .fp-news article a {
    text-decoration: none;
    color: #282828;
}
.fp-s-content article a p.fps-title, .fp-news article a p.fps-title {
    font-size: 1.2rem;
}

.fp-news article:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.fp-news .fpn-thumb {
    width: 35.89744%;
    float: left;
    margin-right: 2.5641%;
}
.fp-news .fpn-thumb img {
    width: 80%;
    margin: 10px auto;
}
.fp-news .fpn-content {
    width: 61.53846%;
    float: right;
    margin-right: 0;
}

.pluses {
    background-color: #ff444a;
    text-align: center;
}
.pluses h4 {
    color: #ffffff;
}

.fp-plus h4 {
    font-weight: 300;
    display: inline-block;
}
.fp-plus .fp-plus-icon {
    display: inline;
}

section.fp-last-work {
    padding-top: 50px;
    background-color: #31363b;
    padding-bottom: 50px;
}
section.fp-last-work h1 {
    color: #ffffff;
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 41px;
}

.lw-image a {
    text-decoration: none;
    display: block;
    text-align: center;
}
.lw-image a img {
    width: 90%;
    margin: 10px auto;
}
.lw-image a span.lw-i-caption {
    color: #ffffff;
    font-size: 1.1rem;
    display: block;
}

.lw-content table {
    font-size: 0.9rem;
}
.lw-content table tr {
    padding: 0;
    border-bottom: 1px solid #485057;
}
.lw-content table tr td {
    padding: 15px 0 7px;
    color: #ffffff;
}
.lw-content table tr td:first-child {
    width: 40%;
}

section.staff, section.main-catalog {
    background-color: #282828;
    padding: 20px 0;
}

section.misc {
    background-color: #476973;
    padding: 50px 0;
}

.staff-catalog .staff-catalog-item {
    width: 33%;
    float: left;
    text-align: center;
}
.staff-catalog .staff-catalog-item .sci-title a {
    display: block;
    width: 100%;
    height: 100%;
}
.staff-catalog .staff-catalog-item .sci-title a h2 {
    color: #ffffff;
    font-weight: 400;
    display: inline-block;
    font-size: 1.1rem;
    padding: 10px 0;
}
.staff-catalog .staff-catalog-item .sci-title a .sci-title-icon {
    display: inline-block;
}
.staff-catalog .staff-catalog-item .sci-title a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

section.landing {
    background-color: #5a8693;
    padding: 30px 0;
}
section.landing form input[type="text"] {
    height: 50px;
    font-weight: 300;
    font-size: 24px;
    color: #043d5d;
    line-height: 34px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #31363b;
}
section.landing form button {
    background-color: #ff444a;
    height: 50px;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: normal;
    border-radius: 5px;
    border: none;
}

.news-grid .news-items {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
}
.news-grid .news-items:nth-child(3) {
    width: 32.20339%;
    float: right;
    margin-right: 0;
}

.news-items {
    border-right: 1px solid lightgray;
}
.news-items:nth-child(3) {
    border: none;
}

footer.main-footer {
    background-color: #2d2d2d;
    color: #ffffff;
}
